/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #4CAF50;
}

#upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#file-input {
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

#prediction-result {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

.flower-info {
    margin-top: 20px;
    text-align: center;
}

.flower-info img {
    max-width: 300px;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 4px;
}

.flower-info h2 {
    color: #4CAF50;
    margin-top: 10px;
}

.flower-info p {
    font-size: 16px;
    color: #555;
}
